#Whiskermenu integration for Greybird by Cybercop


style "darktree"
{
	color["bg_color_dark"] 	= "#363636"
	color["fg_color_dark"] 	= "#F2F2F2"
	color["selected_fg_color_dark"] = "#ffffff"
	base[NORMAL] = shade(1.22, "#363636")
	base[ACTIVE] = shade(1.55, "#363636")
	text[NORMAL]      = @fg_color_dark
	text[PRELIGHT]	  = shade (1.15, @fg_color_dark)
	text[SELECTED]	  = @selected_fg_color_dark

}

style "darkback"
{
	color["bg_color_dark"] 	= "#363636"
	color["fg_color_dark"] 	= "#F2F2F2"
	color["selected_fg_color_dark"] = "#ffffff"
	fg[NORMAL]        = @fg_color_dark
	fg[PRELIGHT]	  = shade (1.15, @fg_color_dark)
	fg[ACTIVE]	  = @fg_color_dark
	fg[SELECTED]	  = @selected_fg_color_dark
	fg[INSENSITIVE]	  = shade (0.5, @fg_color_dark)
  
	bg[NORMAL]        = @bg_color_dark
	bg[ACTIVE]	  = shade (0.8, @bg_color_dark)
	bg[SELECTED]      = @selected_bg_color
	bg[PRELIGHT]      = shade (1.0, "#4D4C48")
	bg[INSENSITIVE]   = shade (0.85, @bg_color_dark)
  	
	#Commentato, funziona bene con la seachbox
	#text[NORMAL]      = @fg_color_dark
	text[PRELIGHT]	  = shade (1.15, @fg_color_dark)
	text[SELECTED]	  = @selected_fg_color_dark
	text[ACTIVE]      = @fg_color_dark
	text[INSENSITIVE] = mix (0.5, @bg_color, @bg_color_dark)
}
widget "whiskermenu-window*"                            style "darkback"
widget "whiskermenu-window*TreeView*"                   style "darktree"
