#!/bin/bash
env > ~/env.txt

if [ $DESKTOP_SESSION != "xfce" ]
then
    /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
fi

if [ $DESKTOP_SESSION == "xfce" ]
then
    xbindkeys -f $HOME/.xbindkeysrc.xfce4 &
else
    xbindkeys &
fi

# set screen layout
~/.screenlayout/display.sh

# run picom
picom -b --experimental-backends

# set compose key to Left_Alt
setxkbmap -option compose:ralt

# set wallpapers
~/.fehbg

# start notification daemon
dunst &

# start clipboard history manager

greenclip daemon &

# start power manager
xfce4-power-manager &
