#!/bin/bash
env > ~/env.txt

/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
xbindkeys &

# set screen layout
~/.screenlayout/display.sh

# run picom
picom -b --experimental-backends

# set compose key to Left_Alt
setxkbmap -option compose:ralt

# set wallpapers
# ~/.fehbg
nitrogen --restore &

# start notification daemon
dunst &

# start clipboard history manager
greenclip daemon &

# start power manager
xfce4-power-manager &

# set numlock
numlockx &

# set screen locker
xss-lock -- betterlockscreen -l &
