#!/bin/bash
env > ~/env.txt

if [ $DESKTOP_SESSION != "xfce" ]
then
    /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
fi

if [ $DESKTOP_SESSION == "xfce" ]
then
    xbindkeys -f $HOME/.xbindkeysrc.xfce4 &
else
    xbindkeys &
fi

~/.screenlayout/display.sh
setxkbmap -option compose:ralt
~/.fehbg
picom -b --experimental-backends
dunst &
greenclip daemon &
xfce4-power-manager &
