$variant: 'light';

@import 'colors';

.XfceHeading {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-image: none;
    background-color: shade($bg_color, 1.18);
    color: $text_color;
    text-shadow: 0px 1px $shadow_color;
}

.xfce4-panel.background {
    background-color: shade($panel_bg_color, 0.35);
    color: $panel_fg_color;
    font-weight: normal;
    button {
        background-image: none;
        background-color: transparent;
        border-radius: 0;
        border-color: transparent;
        box-shadow: none;
        padding: 0 1px;
        color: $panel_fg_color;
        text-shadow: 0px 1px $shadow_color;
        &:active, &:checked {
            background-image: none;
            background-color: shade($panel_bg_color, 0.7);
            border-color: shade($panel_bg_color, 0.6);
            color: $panel_fg_color;
            transition: none;
        }
        &:hover, &:active:hover, &:checked:hover {
            border-color: shade($selected_bg_color, 0.6);
            background-image: linear-gradient(to bottom,
                                              shade($selected_bg_color, 0.88),
                                              shade($selected_bg_color, 0.85)
                                              );
            color: $panel_fg_color;
            box-shadow: inset 0 -1px gtkalpha(white, 0.0),
                        inset 1px 0 gtkalpha(white, 0.15),
                        inset -1px 0 gtkalpha(white, 0.15),
                        inset 0 1px gtkalpha(white, 0.15);
            transition: none;
        }
    }
    menu {
        -gtk-icon-effect: none;

        text-shadow: none;
    }
}

/**********Whisker menu settings**********/

#whiskermenu-window {
        border-radius: 2px;
        
	background-color: rgba(83,85,92,0.95);
	color: #DEDEDE;
}
#whiskermenu-window frame {
      border-radius: 2px;
      box-shadow: 1px 7px 7px 7px rgba(0, 0, 0, 0.26);
      /*border: 3px solid black;*/ }

       
 
/* Make sidebar buttons match */
#whiskermenu-window button {
        margin-right: 8px;
        margin-left: 4px;
        padding-left: 6px;
        padding-right: 6px;
        border: none;
	background-color: transparent;
	color: #DEDEDE;
        text-shadow:  0 -1px alpha(#ffffff, 0.04),
				 -1px  0px alpha(#202020, 0.05),
				  1px  0px alpha(#202020, 0.05),
				  0px  1px alpha(#202020, 0.5),
				  0px  2px alpha(#202020, 0.05);
}
#whiskermenu-window button:hover {
	background-color: #454545;
	color: #fff;
        text-shadow:  0 -1px alpha(#ffffff, 0.04),
				 -1px  0px alpha(#202020, 0.05),
				  1px  0px alpha(#202020, 0.05),
				  0px  1px alpha(#202020, 0.5),
				  0px  2px alpha(#202020, 0.05);
}
#whiskermenu-window button:checked {
	background-color: #454545;
	color: #fff;
        text-shadow:  0 -1px alpha(#ffffff, 0.04),
				 -1px  0px alpha(#202020, 0.05),
				  1px  0px alpha(#202020, 0.05),
				  0px  1px alpha(#202020, 0.5),
				  0px  2px alpha(#202020, 0.05);
}

/* Make treeview match */
#whiskermenu-window treeview {
	background-color: rgba(57,58,63,0.95);
        padding-top:1px;
        padding-bottom: 1px;
        padding-left: 6px;
        padding-right: 6px;
	color: #DEDEDE;
        text-shadow:  0 -1px alpha(#ffffff, 0.04),
				 -1px  0px alpha(#202020, 0.05),
				  1px  0px alpha(#202020, 0.05),
				  0px  1px alpha(#202020, 0.5),
				  0px  2px alpha(#202020, 0.05);
}
#whiskermenu-window treeview:hover {
	background-color: #658FBA;
	color: #fff;
        text-shadow:  0 -1px alpha(#ffffff, 0.04),
				 -1px  0px alpha(#202020, 0.05),
				  1px  0px alpha(#202020, 0.05),
				  0px  1px alpha(#202020, 0.5),
				  0px  2px alpha(#202020, 0.05);
}

#whiskermenu-window entry:focus {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  margin-right: 8px;
  color: #DEDEDE;
  text-shadow:  0 -1px alpha(#ffffff, 0.04),
				 -1px  0px alpha(#202020, 0.05),
				  1px  0px alpha(#202020, 0.05),
				  0px  1px alpha(#202020, 0.5),
				  0px  2px alpha(#202020, 0.05);
  border: 1px solid;
  border-color:rgba(0, 0, 0, 0.12);
  border-bottom-color: rgba(0, 0, 0, 0.18);
  border-top-color: rgba(0, 0, 0, 0.08);
  background-color: transparent;
  background-image: linear-gradient(to bottom,#454545,#454545); }

#whiskermenu-window scrollbar {

  background-color: rgba(57,58,63,0.9);}

#XfceNotifyWindow {
    background-color: shade($panel_bg_color, 0.3);
    color: $panel_fg_color;
    border-color: shade($panel_bg_color, 0.6);

    button {
        background-image: none;
        border-color: shade($panel_fg_color, 0.35);
        border-radius: 3px;
        box-shadow: none;
    }

    label#summary {
        font-weight: bold;
    }

    progressbar {
        min-height: 6px;
        border-radius: 3px;
        progress {
            background-image: none;
            background-color: $panel_fg_color;
            border: none;
            box-shadow: none;
        }
        trough {
            background-image: linear-gradient(to bottom,
                                              shade($panel_bg_color, 0.65),
                                              shade($panel_bg_color, 1.25)
                                              );
            border: 1px solid shade($panel_bg_color, 0.2);
            border-radius: 3px;
            padding: 1px 0;
        }
    }
}
