configuration {
    modi: "run,window,drun,combi";
    combi-modi: "window,drun";
    display-combi: "🗔 ";
    theme: "solarized";
    font: "Cascadia Code PL 12";
    show-icons: true;
    scrollbar-width: 0;
    width: 40;
    // monitor: "primary";
    location: 0;
    // yoffset: 100;
    terminal: "alacritty";
}
element-icon {
    size: 1.0em ;
}
